In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [7]:
df = pd.read_csv('../etl/data/property_ml_ready.csv')
df.head(20)

,property_id,deal_type,user_type,district,type_name,size_sqm,rooms,floor,year_built,post_date,sell_date,renovation_status,estimated_saleprice,estimated_rentprice
0,2,Sale,Buyer,Arabkir,Apartment,130.7,4,12,2018,2023-01-25,2024-11-27,Newly Renovated,410075.66,1640.30
1,8,Rent,Buyer,Ajapnyak,Apartment,74.4,4,4,2013,2023-08-15,NaN,Not Renovated,155361.41,621.45
2,10,Sale,Agent,Shengavit,Apartment,55.5,5,7,1971,2021-01-23,2025-01-12,Not Renovated,109457.83,437.83
3,11,Sale,Agent,Erebuni,Apartment,139.4,6,6,1998,2023-06-06,2024-12-26,Not Renovated,315209.53,1260.84
4,12,Sale,Agent,Avan,Apartment,65.8,3,11,1967,2024-08-22,2025-03-22,Not Renovated,124375.76,497.50
5,13,Rent,Owner,Malatia-Sebastia,Apartment,133.2,4,8,2021,2025-04-17,2025-01-03,Not Renovated,148426.72,593.71
6,14,Rent,Agent,Avan,Apartment,90.4,2,7,2008,2025-12-17,2025-04-06,Newly Renovated,159511.66,638.05
7,21,Rent,Buyer,Arabkir,Apartment,65.6,2,1,1980,2024-05-05,NaN,Not Renovated,72694.77,290.78
8,23,Rent,Buyer,Malatia-Sebastia,Apartment,129.8,1,5,2017,2025-02-03,2025-03-28,Partially Renovated,290719.47,1162.88
9,25,Sale,Owner,Kentron,Apartment,189.9,5,6,1982,2024-07-24,2025-05-04,Newly Renovated,382383.77,1529.54
10,30,Sale,Agent,Malatia-Sebastia,Apartment,197.8,2,7,1979,2024-11-09,NaN,Partially Renovated,203962.97,815.85
11,31,Rent,Buyer,Malatia-Sebastia,Apartment,152.9,3,1,2009,2025-02-21,2024-12-15,Partially Renovated,201238.09,804.95
12,33,Rent,Agent,Nubarashen,Apartment,57.6,3,5,1996,2023-03-10,NaN,Newly Renovated,102003.88,408.02
13,38,Sale,Buyer,Nork-Marash,Apartment,43.4,5,3,1980,2021-08-07,2025-03-21,Not Renovated,97074.10,388.30
14,41,Sale,Agent,Shengavit,Apartment,199.5,3,4,1983,2023-01-28,NaN,Newly Renovated,308478.97,1233.92
15,43,Sale,Buyer,Nor Nork,Apartment,118.8,6,11,1982,2025-09-26,NaN,Partially Renovated,177268.24,709.07
16,46,Rent,Buyer,Nor Nork,Apartment,173.2,5,2,1970,2022-11-29,2025-03-24,Not Renovated,328913.05,1315.65
17,48,Sale,Buyer,Nubarashen,Apartment,128.7,2,5,1970,2023-04-12,NaN,Partially Renovated,209798.75,839.20
18,51,Rent,Buyer,Shengavit,Apartment,133.0,1,5,2010,2023-10-04,2025-02-03,Newly Renovated,269425.85,1077.70
19,52,Sale,Buyer,Nubarashen,Apartment,140.8,4,4,2022,2021-09-09,2024-11-22,Newly Renovated,283721.66,1134.89

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1423 entries, 0 to 1422
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          1423 non-null   int64
 1   deal_type            1423 non-null   object
 2   user_type            1423 non-null   object
 3   district             1423 non-null   object
 4   type_name            1423 non-null   object
 5   size_sqm             1423 non-null   float64
 6   status               1423 non-null   object
 7   rooms                1423 non-null   int64
 8   floor                1423 non-null   int64
 9   year_built           1423 non-null   int64
 10  renovation_status    1423 non-null   object
 11  estimated_saleprice  1423 non-null   float64
 12  estimated_rentprice  1423 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 144.7+ KB

In [4]:
df.isnull().sum()

property_id            0
deal_type              0
user_type              0
district               0
type_name              0
size_sqm               0
status                 0
rooms                  0
floor                  0
year_built             0
renovation_status      0
estimated_saleprice    0
estimated_rentprice    0
dtype: int64

In [5]:
df.duplicated().sum().any()

np.False_

In [6]:
df.dropna(inplace=True)

In [7]:
df.describe()

,property_id,size_sqm,rooms,floor,year_built,estimated_saleprice,estimated_rentprice
count,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000
mean,1502.613493,114.713212,3.537597,6.465214,1993.248770,221190.432586,884.761862
std,876.017436,50.204404,1.690076,3.397280,17.006906,116219.309695,464.877256
min,1.000000,25.000000,1.000000,1.000000,1965.000000,28081.370000,112.330000
25%,730.500000,69.850000,2.000000,4.000000,1978.000000,128306.335000,513.225000
50%,1481.000000,116.800000,4.000000,6.000000,1993.000000,208308.930000,833.240000
75%,2275.000000,158.500000,5.000000,9.000000,2008.000000,291172.465000,1164.690000
max,2997.000000,200.000000,6.000000,12.000000,2023.000000,683244.030000,2732.980000

In [8]:
df.shape

(1423, 13)

In [9]:
# Define categorical columns
categorical_cols = ['type_name', 'district', 'status', 'renovation_status']

# One-hot encode categorical columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Features to exclude from modeling
exclude_columns = ['estimated_rent_price', 'estimated_sales_price', 'id', 'property_id',
 'deal_type',
 'user_type',]

# Determine which columns are features
all_columns = df_encoded.columns.tolist()
feature_columns = [col for col in all_columns if col not in exclude_columns]
feature_columns

['size_sqm',
 'rooms',
 'floor',
 'year_built',
 'estimated_saleprice',
 'estimated_rentprice',
 'district_Arabkir',
 'district_Avan',
 'district_Davtashen',
 'district_Erebuni',
 'district_Kanaker-Zeytun',
 'district_Kentron',
 'district_Malatia-Sebastia',
 'district_Nor Nork',
 'district_Nork-Marash',
 'district_Nubarashen',
 'district_Shengavit',
 'renovation_status_Not Renovated',
 'renovation_status_Partially Renovated']

In [1]:
def evaluate_model(model, X_test, y_test, label=""):
    y_pred = model.predict(X_test)
    print(f"\n--- {label} Model Evaluation ---")
    print("MAE:", mean_absolute_error(y_test, y_pred))
    print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
    print("R² Score:", r2_score(y_test, y_pred))

In [11]:
# ----------------- Rent Price Model -----------------
X_rent = df_encoded[feature_columns]
y_rent = df_encoded['estimated_rentprice']

X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_rent, y_rent, test_size=0.2, random_state=42)

model_rent = RandomForestRegressor(n_estimators=100, random_state=42)
model_rent.fit(X_train_r, y_train_r)

evaluate_model(model_rent, X_test_r, y_test_r, label="Rent Price")

--- Rent Price Model Evaluation ---
MAE: 1.8065270175438903
RMSE: 12.818789033484327
R² Score: 0.9992433165259985

In [12]:
# ----------------- Sales Price Model -----------------
X_sales = df_encoded[feature_columns]
y_sales = df_encoded['estimated_saleprice']
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_sales, y_sales, test_size=0.2, random_state=42)

model_sales = RandomForestRegressor(n_estimators=100, random_state=42)
model_sales.fit(X_train_s, y_train_s)

evaluate_model(model_sales, X_test_s, y_test_s, label="Sales Price")

--- Sales Price Model Evaluation ---
MAE: 452.0154473684318
RMSE: 2903.74201899575
R² Score: 0.9993787654497182

In [13]:
import joblib 

joblib.dump(model_sales, 'models/sales_price_model.pkl')
joblib.dump(model_rent, 'models/rent_price_model.pkl')

['models/rent_price_model.pkl']

In [14]:
df_encoded["predicted_rentprice"] = model_rent.predict(X_rent)
df_encoded["predicted_saleprice"] = model_sales.predict(X_sales)

In [15]:
prediction_df = df[['property_id']].copy()
prediction_df["actual_rentprice"] = df['estimated_rentprice']
prediction_df["predicted_rentprice"] = df_encoded["predicted_rentprice"]
prediction_df["actual_saleprice"] = df['estimated_saleprice']
prediction_df["predicted_saleprice"] = df_encoded["predicted_saleprice"]

In [16]:
# Save to file
output_path = "property_predictions.csv"
prediction_df.to_csv(output_path, index=False)
print(f"\n✅ Prediction CSV saved: {output_path} | Shape: {prediction_df.shape}")

✅ Prediction CSV saved: property_predictions.csv | Shape: (1423, 5)

In [7]:
ready_df = pd.read_csv('../output/property_predictions_final.csv')
ready_df.tail(30)

,property_id,post_date,actual_rent_price,actual_sales_price,actual_sold,actual_days_on_market,predicted_rent_price,predicted_sales_price,will_sell,sell_probability,predicted_days_to_sale,predicted_sale_date
1419,2952,2021-08-22,857.95,214488.50,1,1312.0,863.3616,214976.8542,1,0.86,1163.62,2024-10-28
1420,2954,2021-09-18,897.46,224364.64,0,1565.0,840.7930,210730.0330,1,0.70,738.13,2023-09-26
1421,2956,2024-10-08,422.31,105576.29,1,88.0,509.3758,125786.7641,1,0.93,363.25,2025-10-06
1422,2957,2024-05-23,963.62,240904.20,0,587.0,1038.3753,255121.6550,1,0.52,821.26,2026-08-22
1423,2958,2025-12-28,444.35,111086.58,1,-334.0,415.9908,104592.9347,1,0.83,11.35,2026-01-08
1424,2962,2021-05-04,311.88,77969.05,0,1702.0,307.9885,76140.8558,0,0.24,NaN,The probability of being sold is very low
1425,2966,2025-10-28,1420.37,355091.89,0,64.0,1463.2301,358457.3733,0,0.32,NaN,The probability of being sold is very low
1426,2967,2025-01-20,1073.29,268322.50,0,345.0,1146.6540,287869.1718,0,0.26,NaN,The probability of being sold is very low
1427,2968,2024-08-05,785.07,196267.66,0,513.0,761.0142,190968.4148,0,0.23,NaN,The probability of being sold is very low
1428,2973,2024-04-14,455.26,113814.19,1,300.0,425.1671,106280.4336,1,0.87,445.00,2025-07-03
1429,2974,2022-03-29,936.68,234170.00,1,1147.0,985.3834,247334.9426,1,0.92,927.14,2024-10-11
1430,2975,2025-12-02,1661.34,415334.09,1,-199.0,1499.7276,375011.9976,1,0.86,-79.70,2025-09-13
1431,2977,2024-08-15,880.28,220070.63,1,156.0,974.1261,247530.4085,1,0.66,260.46,2025-05-02
1432,2978,2022-10-31,280.96,70239.58,1,923.0,282.2583,70721.5198,1,0.61,842.00,2025-02-19
1433,2980,2022-01-24,917.51,229377.95,0,1437.0,1068.0764,268487.8143,0,0.30,NaN,The probability of being sold is very low
1434,2981,2021-06-19,552.95,138237.33,0,1656.0,531.1224,132037.7517,0,0.27,NaN,The probability of being sold is very low
1435,2982,2024-06-01,538.85,134713.05,0,578.0,464.8725,116087.3476,0,0.26,NaN,The probability of being sold is very low
1436,2983,2023-04-11,427.87,106966.60,1,655.0,419.1413,104867.0013,1,0.78,613.15,2024-12-14
1437,2984,2025-08-13,1451.91,362978.05,1,-211.0,1407.3150,354280.6718,1,0.80,161.77,2026-01-21
1438,2986,2025-12-30,763.00,190749.76,1,-271.0,779.4197,195054.9618,1,0.80,119.16,2026-04-28
1439,2987,2023-10-30,608.24,152060.77,1,546.0,673.8723,168839.2806,1,0.78,609.13,2025-06-30
1440,2988,2025-08-26,1519.36,379840.26,1,-267.0,1346.0974,339726.1833,1,0.73,23.72,2025-09-18
1441,2990,2022-05-27,1995.49,498873.59,0,1314.0,1891.8111,471718.6206,0,0.17,NaN,The probability of being sold is very low
1442,2991,2022-01-06,427.19,106797.29,0,1455.0,475.7861,118432.2252,0,0.25,NaN,The probability of being sold is very low
1443,2992,2022-07-25,1045.57,261393.07,1,916.0,1196.9203,301010.6729,1,0.88,719.58,2024-07-13
1444,2994,2024-08-10,684.36,171089.11,1,253.0,669.0187,168372.8501,1,0.80,379.01,2025-08-24
1445,2995,2025-04-12,2316.12,579029.09,0,263.0,1868.5715,464612.2280,0,0.26,NaN,The probability of being sold is very low
1446,2996,2021-12-17,1181.83,295457.21,0,1475.0,1233.2800,308870.4003,0,0.27,NaN,The probability of being sold is very low
1447,2997,2023-02-01,596.11,149028.20,1,775.0,692.4461,174544.6033,1,0.82,828.12,2025-05-09
1448,2998,2021-06-01,1092.00,273000.81,1,1449.0,1007.6191,252378.1232,1,0.52,1087.39,2024-05-23